DNAviEnv/
.env
__pycache__/
client/log/*.log

# Ignore everything in downloads
exchange/downloads/*
# Except README.md
!exchange/downloads/README.md

# Ignore everything in uploads
exchange/uploads/*
# Except README.md
!exchange/uploads/README.md

protected_table_only.html
