# pip install -r requirements.txt
numpy
pandas
seaborn
scipy
matplotlib
imageio
scikit-image
flask
flask-login
python-dotenv
sqlalchemy
psycopg2-binary
scikit_posthocs
plotly
wheel
gunicorn
requests
chardet
jinja2
weasyprint
datetime
pytest
python-dotenv
pytest-html