<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>DNAvi</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" type="text/css" />
    <link rel="stylesheet" href="fontawesome/css/all.min.css" type="text/css" /> 
    <link rel="stylesheet" href="{{ url_for('static', filename='css/slick.css') }}" type="text/css" />   
    <link rel="stylesheet" href="{{ url_for('static', filename='css/tooplate-simply-amazed.css') }}" type="text/css" />
<!--

Tooplate 2123 Simply Amazed

https://www.tooplate.com/view/2123-simply-amazed

-->
</head>


<body>
    <div id="outer">
        <header class="header order-last" id="tm-header">
            <nav class="navbar">
                <div class="collapse navbar-collapse single-page-nav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="#section-1"><span class="icn"><i class="fab fa-2x fa-battle-net"></i></span>1. Gel image processing</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#section-2"><span class="icn"><i class="fab fa-2x fa-battle-net"></i></span>2. Ladder quality control</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#section-3"><span class="icn"><i class="fab fa-2x fa-battle-net"></i></span>3. Fragment size plot</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#section-4"><span class="icn"><i class="fab fa-2x fa-battle-net"></i></span>4. Grouped fragment size plot</a>
                        </li>
                        <li class ="nav-item" >
                            <a class ="nav-link" href="{{ url_for('protect') }}" > <span class ="icn" > <i class ="fab fa-2x fa-battle-net" > </i > </span> Back </a>
                        </li >
                    </ul>
                </div>
            </nav>
        </header>
        
        <button class="navbar-button collapsed" type="button">
            <span class="menu_icon">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </span>
        </button>
        
        <main id="content-box" class="order-first">
            <section class="work-section section" id="section-1">
                <div class="container">
                    <style> img {float: right;} </style>
<!--                    <&#45;&#45; <img src="./static/img/logo.svg" alt="Minerva" width=50%; height=auto> /&ndash;&gt;-->
                    <br>
                    <div class="title">
                    <h2> Gel image processing</h2>
                    </div>
                    <div class="row">
                        <div class="item col-md-4">
                            <div class="tm-work-item-inner">
                                  <br></br>
                                  <h1>1. Band detection </h1>
                                    <br></br>
                                    <img src="./static/img/documentation/gel_lanes.png">
                                    <p > Example of DNAvi output after the user has submitted a DNA gel image: the detected
                                        DNA bands will be shown as color-coded masks on the thresholded input image. In this example,
                                    we can nicely see that all DNA bands are covered by a colored mask, indicating that all bands have been
                                    correctly identified. </p>
                                    <br></br>
                            </div>
                        </div>
                         <div class="item col-md-4 one">
                            <div class="tm-work-item-inner">
                                  <br></br>
                                  <h1>2. Lane borders</h1>
                                  <br></br>
                                  <img src="./static/img/documentation/gel_lanes_borders.png">
                                  <p > Next, DNAvi will use this information to infer gel lane borders. This is an example output
                                  plot generated by DNAvi, helping you to check whether lane borders have been correctly inferred.
                                  In this example, we can nicely see that all DNA lanes have the same size, and that all DNA bands fall inside a lane,
                                      indicating that all lanes have been correctly identified. </p>
                                  <br></br>
                            </div>
                         </div>
                         <div class="item col-md-4 one">
                            <div class="tm-work-item-inner">
                                  <br></br>
                                  <h1>3. Intensity profile</h1>
                                  <br></br>
                                  <img src="./static/img/documentation/lane_profile.png">
                                  <p > Finally, DNAvi will calculate a profile line for each lane. To allow you to understand if
                                      this process was correctly executed, DNAvi plots the gel lane, the central profile line, and the resulting profile
                                      into a pdf plot. In this example, we can see that the lower and upper marker at y-positions 0 and ~410 have been correctly
                                  inferred, and so has the broader DNA band at y-position ~300.</p>
                                  <br></br>
                            </div>
                         </div>
                        </div>
            </section>

            <section class="work-section section" id="section-2">
                <div class="container">
                    <style> img {float: right;} </style>
<!--                    <&#45;&#45; <img src="./static/img/logo.svg" alt="Minerva" width=50%; height=auto> /&ndash;&gt;-->
                    <br>
                    <div class="title">
                    <h2> Ladder quality control</h2>
                    </div>
                    <div class="row">
                        <div class="item col-md-4">

                                  <br></br>
                                  <h1>Peak detection </h1>
                                    <br></br>
                                    <img src="./static/img/documentation/ladder_peaks.svg" width=140%; height=auto>
                                    <p > Example of DNAvi output after a DNA ladder intensity profile has been analyzed for peaks.
                                    We can see that 11 peaks have been detected in this ladder. Now, DNAvi will compare this
                                    to the user-provided file. If all 11 peaks (orange crosses) have been annotated by the user with basepair information,
                                    the quality control is considered as passed and downstream processing continues.</p>
                                    <br></br>
                        </div>
            </section>

            <section class="work-section section" id="section-3">
                <div class="container">
                    <style> img {float: right;} </style>
<!--                    <&#45;&#45; <img src="./static/img/logo.svg" alt="Minerva" width=50%; height=auto> /&ndash;&gt;-->
                    <br>
                    <div class="title">
                    <h2> DNA fragment size plot</h2>
                    </div>
                                  <br></br>
                                  <h1>Per-sample profile plot </h1>
                                    <br></br>
                                    <img src="./static/img/documentation/single_sample.svg" width=140%; height=auto>
                                    <p > Example of DNAvi output after the quality control for the DNA ladder was passed
                                        and basepair positions were annotated. We can see 3 samples' Dna fragment length
                                        profile, showing a peak centered at around 150 bp, and a smaller second peak at ~250 bp.
                                        These are likely to be the mono- and di-nucleosomal cell-free DNA fraction. All exact position values
                                    are also provided as a source data table, so that plots can be edited and customized if needed.
                                    The default plot format pdf, i.e. publication quality vector graphics.</p>
                                    <br></br>
            </section>

            <section class="work-section section" id="section-4">
                <div class="container">
                    <style> img {float: right;} </style>
<!--                    <&#45;&#45; <img src="./static/img/logo.svg" alt="Minerva" width=50%; height=auto> /&ndash;&gt;-->
                    <br>
                    <div class="title">
                    <h2> DNA fragment size plot</h2>
                    </div>
                                  <br></br>
                                  <h1>Per-sample profile plot </h1>
                                    <br></br>
                                    <img src="./static/img/documentation/grouped_sample.svg" width=50%; height=auto>
                                    <br></br>

                                    <p > Example of DNAvi output for a set of grouped samples (group information provided
                                        by the user through a metadata file). We can see that the average fragment size
                                        of samples in the Control group is smaller than in the treatment group.</p>
                                    <br></br>
            </section>

            <section class="contact-section section" id="section-5">
                <div class="container">
                <div class="row">
                    <div class="title">
                        <h3>Citation</h3>
                    </div>
                     <div class="col-lg-5 col-md-6 mb-4 contact-form">
                        <p>Please cite DNAvi whenever you use it for your research, analysis or visualization.</p>
                 </div>
                    <div class="title">
                        <h3>Contact</h3>
                    </div>

                    <div class="row">
                        <div class="col-lg-5 col-md-6 mb-4 contact-form">
                                <ul class="font-weight-light">
                                    <li>
                                        <span class="icn"><i class="fas fa-at"></i></span>
                                        <span class="lbl">Email:</span> <a href="#">anja.hess@mail.de</a>
                                    </li>
                                </ul>
                                            <footer class="footer container container-2">
                    <div class="row">

                        <p class="col-sm-7">Copyright Anja Hess, 2025. </p>
                        <p class="col-sm-5 text-right design">Design: <a rel="nofollow" href="https://www.tooplate.com" target="_parent"> Layout Copyright 2021 Simply Amazed Co. Tooplate</a></p>
                    </div>
                </footer>
                        </div>
                            </div>                        
                        </div>
                        </div>
                    </div>                
                </div>
            </section>
        </main>
    </div>
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/jquery.singlePageNav.min.js"></script>
    <script src="js/slick.js"></script>
    <script src="js/parallax.min.js"></script>
    <script src="js/templatemo-script.js"></script>
</body>
</html>