<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>DNAvi</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" type="text/css" />
    <link rel="stylesheet" href="fontawesome/css/all.min.css" type="text/css" /> 
    <link rel="stylesheet" href="{{ url_for('static', filename='css/slick.css') }}" type="text/css" />   
    <link rel="stylesheet" href="{{ url_for('static', filename='css/tooplate-simply-amazed.css') }}" type="text/css" />
<!--

Tooplate 2123 Simply Amazed

https://www.tooplate.com/view/2123-simply-amazed

-->
</head>


<body>
    <div id="outer">
        <header class="header order-last" id="tm-header">
            <nav class="navbar">
                <div class="collapse navbar-collapse single-page-nav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="#section-2"><span class="icn"><i class="fab fa-2x fa-battle-net"></i></span> Login</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        
        <button class="navbar-button collapsed" type="button">
            <span class="menu_icon">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </span>
        </button>
        
        <main id="content-box" class="order-first">
            <section class="work-section section" id="section-2">
                <div class="container">
                    <style> img {float: right;} </style>
<!--                    <&#45;&#45; <img src="./static/img/logo.svg" alt="Minerva" width=50%; height=auto> /&ndash;&gt;-->
                    <br>
                    <div class="title">
                    <h2> Welcome</h2>
                    </div>
                    <div class="row">
                        <div class="item col-md-4">
                            <div class="tm-work-item-inner">
                                  <h1>DNAvi</h1>
                                  <form method='POST'>
                                    <input type='text' name='username'>Username</input>
                                    <input type='password' name='pw'>Password</input>
                                    <br></br>
                                    <p > DNAvi is a research tool for DNA visualization. Its usage is voluntary, there is no guarantee for performance
                                    and results may vary depending on the accuracy of input information provided.

                                    If processing human data: please do not include Personally Identifiable Information (names, birth dates, etc), it is NOT needed for DNAvi. </p>
                                    <br></br>
                                    <button type="submit" class="btn btn-success" > Accept & Login</button>
<!--                                <input type='submit' name='submit'></input>-->
                                  </form>
                                {% with messages = get_flashed_messages() %}
                                  {% if messages %}
                                    <ul class=flashes>
                                    {% for message in messages %}
                                      <li>{{ message }}</li>
                                    {% endfor %}
                                    </ul>
                                  {% endif %}
                                {% endwith %}
                                {% block body %}{% endblock %}
                                  {% if error %}
                                <p class=error><strong>Error:</strong> {{ error }}
                                {% endif %}
                            </div>
                        </div>
            </section>


            <section class="contact-section section" id="section-4">
                <div class="container">
                <div class="row">
                    <div class="title">
                        <h3>Citation</h3>
                    </div>
                     <div class="col-lg-5 col-md-6 mb-4 contact-form">
                        <p>Please cite DNAvi whenever you use it for your research, analysis or visualization.</p>
                 </div>
                    <div class="title">
                        <h3>Contact</h3>
                    </div>
                    <div class="row">
                        <div class="col-lg-5 col-md-6 mb-4 contact-form">
                        <p>This tool was developed at the Max-Planck Institute for Molecular Genetics</p>
                                <ul class="font-weight-light">
                                    <li>
                                        <span class="icn"><i class="fas fa-at"></i></span>
                                        <span class="lbl">Email:</span> <a href="#">ahess@molgen.mpg.de</a>
                                    </li>
                                    <li>
                                        <span class="icn"><i class="fas fa-globe-asia"></i></span>
                                        <span class="lbl">URL:</span> <a href="#">www.mpg.de/151820/molekulare-genetik</a>
                                    </li>
                                </ul>
                                            <footer class="footer container container-2">
                    <div class="row">
                        <p class="col-sm-7">Copyright Anja Hess, 2025. </p>
                        <p class="col-sm-5 text-right design">Design: <a rel="nofollow" href="https://www.tooplate.com" target="_parent"> Layout Copyright 2021 Simply Amazed Co. Tooplate</a></p>
                    </div>
                </footer>
                        </div>
                            </div>                        
                        </div>
                        </div>
                    </div>                
                </div>
            </section>
        </main>
    </div>
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/jquery.singlePageNav.min.js"></script>
    <script src="js/slick.js"></script>
    <script src="js/parallax.min.js"></script>
    <script src="js/templatemo-script.js"></script>
</body>
</html>