body {
    font-family: 'Times New Roman', Times, serif;
    line-height: 1.6;
    color: #333;
    margin: 0;
    padding: 0;
}

.cover-page {
    text-align: center;
    margin-top: 4cm;
}

.logo {
    max-width: 150px;
    height: auto;
}

.report-title {
    font-size: 2.2em;
    margin-top: 0.5em;
}

.creation-date {
    font-size: 1.1em;
    margin-top: 1em;
    color: #666;
}

.citation-section {
    text-align: left;
    margin-top: 2cm;
    padding: 0 2cm;
    font-size: 0.9em;
}

.justified-text {
    text-align: justify;
}

.container {
    margin: 0.8cm;
    page-break-after: always;
}

.section-header {
    font-size: 1.8em;
    padding-bottom: 0.2cm;
    border-bottom: 1px solid #ddd;
    margin-top: 1cm;
    width: auto;
    margin-left: 1cm;
    margin-right: 1cm;
}

.section-content {
    margin-top: 0.5cm;
    text-align: justify;
}

/* Second .section-content (item.1) will be indented */
.section .section-content:nth-of-type(2) {
    margin-left: 2em; /* Adjust this value as necessary */
}

/* Table styles for item.0 only */
.section .section-content:nth-of-type(1) table {
    width: 97%;
    margin: 0 auto;
    border-collapse: collapse;
    margin-top: 1cm;
    background-color: white;
    word-wrap: break-word;
    border: none; /* Remove all borders initially */
}

.section .section-content:nth-of-type(1) table th,
.section .section-content:nth-of-type(1) table td {
    padding: 0.2cm;
    text-align: left;
    border-top: 1px solid black; /* Top border only */
    border-bottom: 1px solid black; /* Bottom border only */
    border-left: none;
    border-right: none;
}

/* No borders for tables in item.1 */
.section .section-content:nth-of-type(2) table,
.section .section-content:nth-of-type(2) table th,
.section .section-content:nth-of-type(2) table td {
    border: none; /* Remove all borders */
}

.footer {
    position: running(footer);
    width: 100%;
    font-size: 0.8em;
    text-align: center;
    color: #666;
}

.page-number {
    content: "Page " counter(page) " of " counter(page);
}

@page {
    size: A4;
    margin: 1cm;
    @bottom-center {
        content: element(footer);
    }
}

@media print {
    body {
        margin: 0;
    }
}