body {
    font-family: 'Times New Roman', Times, serif;
    line-height: 1.6;
    color: #333;
    margin: 0;
    padding: 0;
}

.cover-page {
    text-align: center;
    margin-top: 4cm;
}

.logo {
    max-width: 150px;
    height: auto;
}

.report-title {
    font-size: 2.2em;
    margin-top: 0.5em;
}

.creation-date {
    font-size: 1.1em;
    margin-top: 1em;
    color: #666;
}

.citation-section {
    text-align: left;
    margin-top: 2cm;
    padding: 0 2cm;
    font-size: 0.9em;
}

.justified-text {
    text-align: justify;
}

.container {
    margin: 0 1.2cm;
    page-break-after: always;
}

.section-header {
    font-size: 1.8em;
    padding-bottom: 0.2cm;
    border-bottom: 1px solid #ddd;
    margin-top: 1cm;
}

.section-content {
    margin-top: 0.5cm;
    text-align: justify;
}

table {
    width: 97%;
    margin: 0 auto;
    border-collapse: collapse;
    margin-top: 1cm;
    background-color: white; /* Table background color */
    word-wrap: break-word;
}

th, td {
    padding: 0.2cm;
    text-align: left;
    border: 1px solid white; /* Set other borders to white */
}

th {
    border-top: 1px solid black; /* Top border black */
    border-bottom: 2px solid black; /* Bottom border also black and slightly thicker */
    background-color: white; /* Ensure the header's background is white */
    font-weight: bold;
}

tr + tr th {
    border-top: 0; /* Remove extra top border for additional header rows if present */
}

tr {
    border-top: 1px solid black; /* Top border black for each row */
}

.footer {
    position: running(footer);
    width: 100%;
    font-size: 0.8em;
    text-align: center;
    color: #666;
}

.page-number {
    content: "Page " counter(page) " of "counter(page);
}

@page {
    size: A4;
    margin: 1cm;
    @bottom-center {
        content: element(footer);
    }
}

@media print {
    body {
        margin: 0;
    }
}